In [76]:
import pandas as pd
import numpy as np
from numpy.linalg import inv
pd.__version__

'2.1.0'

In [34]:
#Get data
data_tab = pd.read_csv('housing.csv', sep=",", header=None, names=["longitude", "latitude", "housing_median_age", "total_rooms", "total_bedrooms", "population", "households", "median_income", "median_house_value", "ocean_proximity"])
#Show some data
print(data_tab.head)
#How many rows and columns?
data_tab.shape
data_tab = data_tab.iloc[1: , :]
#Number of unique values in the 'ocean_proximity' column
data_tab['ocean_proximity']. nunique()

<bound method NDFrame.head of        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0      longitude  latitude  housing_median_age  total_rooms  total_bedrooms
1        -122.23     37.88                41.0        880.0           129.0
2        -122.22     37.86                21.0       7099.0          1106.0
3        -122.24     37.85                52.0       1467.0           190.0
4        -122.25     37.85                52.0       1274.0           235.0
...          ...       ...                 ...          ...             ...
20636    -121.09     39.48                25.0       1665.0           374.0
20637    -121.21     39.49                18.0        697.0           150.0
20638    -121.22     39.43                17.0       2254.0           485.0
20639    -121.32     39.43                18.0       1860.0           409.0
20640    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0      population  households  median_income  median_house_value
1           322.0       126.0         8.3252            452600.0
2          2401.0      1138.0         8.3014            358500.0
3           496.0       177.0         7.2574            352100.0
4           558.0       219.0         5.6431            341300.0
...           ...         ...            ...                 ...
20636       845.0       330.0         1.5603             78100.0
20637       356.0       114.0         2.5568             77100.0
20638      1007.0       433.0            1.7             92300.0
20639       741.0       349.0         1.8672             84700.0
20640      1387.0       530.0         2.3886             89400.0

       ocean_proximity
0      ocean_proximity
1             NEAR BAY
2             NEAR BAY
3             NEAR BAY
4             NEAR BAY
...                ...
20636           INLAND
20637           INLAND
20638           INLAND
20639           INLAND
20640           INLAND

[20641 rows x 10 columns]>

5

In [37]:
#Average value of the 'median_house_value' for the houses near the bay
data_tab['median_house_value'] = pd.to_numeric(data_tab['median_house_value'])
data_tab.groupby('ocean_proximity')['median_house_value'].mean()

ocean_proximity
<1H OCEAN     240084.285464
INLAND        124805.392001
ISLAND        380440.000000
NEAR BAY      259212.311790
NEAR OCEAN    249433.977427
Name: median_house_value, dtype: float64

In [53]:
#Select columns with missing data
print(data_tab['total_bedrooms'].isna().sum())

#count mean
data_tab['total_bedrooms'] = pd.to_numeric(data_tab['total_bedrooms'])
print(data_tab['total_bedrooms'].mean())

data_tab['total_bedrooms'].fillna(data_tab['total_bedrooms'].mean(), inplace=True)
print(data_tab['total_bedrooms'].mean())
print(data_tab['total_bedrooms'].isna().sum())

207
537.8705525375618
537.8705525375617
0

In [77]:
#print(data_tab['ocean_proximity'].str.startswith('ISLAND').sum())     ['housing_median_age'], ['total_rooms'], ['total_bedrooms'], 
data_island = data_tab.loc[data_tab['ocean_proximity'] == 'ISLAND'][['housing_median_age', 'total_rooms', 'total_bedrooms']] 
data_island.head
data_island[ 'total_rooms'] = pd.to_numeric(data_island['total_rooms'])
data_island[ 'housing_median_age'] = pd.to_numeric(data_island['housing_median_age'])

X = data_island.values
XTX = X.T @ X
XTX_inv = inv(XTX)
y = np.array([950, 1300, 800, 1000, 1300])
w = XTX_inv @ X.T @ y
print(w[-1])

5.699229455065574